/* Стилі для блоків */
.content-box {
  display: none;
  width: 200px;
  height: 100px;
  margin: 10px 0;
  background-color: #4caf50;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  border-radius: 8px;
}

/* Стиль кнопки */
#openBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
}
#openBtn:hover {
  background-color: #0b7dda;
}
